:root {
  --gnome-dark-1: #77767b;
  --gnome-dark-5: #000000;
  --gnome-blue-2: #62a0ea;
  --gnone-blue-3: #3584e4;
  --gnome-blue-5: #1a5fb4;

  --gnome-green-2: #57e389;
  --gnome-green-4: #2ec27e;
  --gnome-green-5: #26a269;
  --toolbar-height: 72px;
}


body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  background: var(--gnome-dark-1);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

canvas {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

#file-selector {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  background: var(--gnome-dark-5);
  width: 100vw;
  height: var(--toolbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

button.toolbar-action {
  background: transparent;
  color: white;
  box-shadow: none;
  border: none;
  cursor: pointer;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: var(--toolbar-height);
  margin-top: 10px;
}

button.toolbar-action:hover {
  color: var(--gnome-blue-2);
}

button.toolbar-action i {
  display: block;
}

button.toolbar-action span {
  font-size: 12px;
  display: block;
}


.toolbar-action.download, .toolbar-action.rectangle  {
  margin-top: 0;
}

.toolbar-action.rectangle:hover .rectangle-icon {
  border: 2px solid var(--gnome-blue-2);
}

.rectangle-icon {
  width: 16px;
  height: 18px;
  border: 2px solid white;
}

.toolbar-action.download:hover {
  color: var(--gnome-green-5);
}

.toolbar-action.download .icon-container {
  background: var(--gnome-green-5);
  border-radius: 50%;
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
}

.toolbar-action.download .icon-container:hover {
  background: var(--gnome-green-4);
}

.toolbar-action.download .icon-container:focus {
  background: var(--gnome-green-2);
}

.download svg {
  width: 20px;
  height: 20px;
  fill: white;
}


input[type=file]::file-selector-button {
  display: none;
}

.file_upload_container label {
  background-color: #3584e4;
  color: white;
  height: 44px;
  display: flex;
  width: max-content;
  align-items: center;
  padding: 0px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
}

.file_upload_container label:active {
  background-color: var(--gnome-blue-5);
}

